# --- Python & Runtime ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# --- Training Logs ---
*.log
log*.txt
runs/
*.out

# --- Heavy Model Checkpoints ---
# We ignore these to prevent the repo from becoming huge (GBs of data)
saved_models*/
*.bin
*.pt
*.pth
checkpoint-*/

# --- Datasets ---
dataset/
DataProc/nicad-*
FCDetector/target/
bck/
*.zip
*.tar.gz
*.gz
*.jsonl
detect_clones/NiCad-py/post_process/input-bck/
detect_clones/NiCad-py/post_process/data/
detect_clones/NiCad-py/post_process/data-bck/
detect_clones/NiCad-py/post_process/data/*.log
systems/

# --- IDE Settings ---
.vscode/
.idea/
.classpath
.project