<div class="clone-instance">
    <div class="meta-info">
        <strong>Func ID:</strong> {func_id} <br>
        <strong>File:</strong> {rel_file} <br>
        <strong>Clone Range:</strong> {range_str} <br>
        <strong>Enclosing Method:</strong> {method_qualified} (Lines {m_start}-{m_end}) <br>
        <div style="margin-left: 15px; border-left: 2px solid #ccc; padding-left: 10px; margin-top: 5px;">
            <strong>Local Vars (Pre):</strong> {local_vars_pre} <br>
            <strong>Local Vars (Clone):</strong> {local_vars_clone} <br>
            <strong>Local Vars (Post):</strong> {local_vars_post}
        </div>
    </div>
    <pre><code>